@model List<SocialMediaApp.Models.UserDto>

<div class="container">
    <h1>Find People</h1>

    @if (Model != null && Model.Any())
    {
        <ul class="list-group">
            @foreach (var user in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>@user.Username</span>
                    <form asp-action="AddFriend" method="post" class="add-friend-form">
                        <input type="hidden" name="friendId" value="@user.Id" />
                        <button type="submit" class="btn btn-primary btn-sm">Add Friend</button>
                    </form>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No users found.</p>
    }
</div>

<script>
    document.querySelectorAll('.add-friend-form').forEach(form => {
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            
            let button = this.querySelector('button');
            button.innerText = "Added";
            button.classList.remove('btn-primary');
            button.classList.add('btn-success');
            button.disabled = true;

            this.submit(); 
        });
    });
</script>
